/* General Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkblue;
    text-align: right;
}

h2 {
    color: #ABCDEF;
    text-align: center;
    background-color: darkblue;
    padding: 5px;
}

p {
    color: black;
}
.toptext
{
    color:red;
    font-family: cursive;
}

/* Page styles */
footer, header {
    text-align: center;
    padding: 10px;
    background-color:bisque;
}



section {
    padding: 5px;
}

#content {
    background-color: #FFF;
    /* alternate way to center element */
    margin: auto;
    width: 100%;
    border-radius: 32px;
}


/* Navigation bar */
navbar ul {
    list-style-type:;
    margin: 0;
    padding: 0;
    width:10%;
    height:50%;
    background-color: #666;
}

navbar a {
    color: #ABCDEF;
    display: block;
    padding: 8px;
    margin: 2px;
    text-align: left;
    text-decoration: none;
}

/* Drinks list */
.title {
    font-weight: bold;
}

#columns img {
    float: left;
    height: 50px;
    padding: 0 20px 0 0;
}

#columns li {
    list-style: none;
}

